@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.nav-div{
    background: rgb(255, 255, 255);
    width: 100%;
    height:50px;
}




























.container {
    color: white;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-div {
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.video-div:hover {
    box-shadow: 0px 0px 200px rgb(102, 101, 101);
}
iframe{
    padding: 0px;
    height: 250px;
    width: 250px;
}
.surah-name{
    font-size: 20px;
    margin-top: -10px;
    margin-left: 5px;
}
.surah-reciter{
    font-size: 10px;
    margin-top: -5px;
    margin-left: 5px;
}
